blockquote {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    font-size: 24px;
    -webkit-box-shadow: inset 10px 5px 25px 5px black, 5px 5px 12px 2px black;
            box-shadow: inset 10px 5px 25px 5px black, 5px 5px 12px 2px black;
}